.brand-name{
    background-color:floralwhite;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color:#000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}